/* @import "../omarchy/current/theme/waybar.css"; */

@define-color foreground #cdd6f4;
@define-color background #181824;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px; 
/*  margin: 0 1.5px; */
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#idle_inhibitor,
#network,
#tray,
#submap,
#custom-update {
  min-width: 8px;
  margin: 0 7.5px; 
}

#bluetooth {
/*  margin-right: 17px; */
}

#custom-expand-icon {
/*  margin-right: 18px; */
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px; 
}

.hidden {
  opacity: 0;
  min-width: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
/*  margin-left: 5px; */
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
/*  margin: 0 0 0 7.5px; */
}

#custom-voxtype.recording {
  color: #a55555;
}

#workspaces {
/*  min-width: 230px; */
  min-width: 150px;
}

#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  min-width: 20px;
}


#custom-spotify {
}
